#show-order {
    display: none;
  }
  
  .order {
    cursor: pointer;
    color: red;
  }
  
  .order:hover {
    text-decoration: underline;
    background-color: yellow;
  }  

  .pizimg{
    color: black;
    background-image: url(pizza.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  img{
    filter: blur(5px) brightness(90%);
  }
  .wte{
    background-color: white;
  }
